{% include 'partials/header.html.twig' %}

 <h1>{{ exercise.name }}</h1>

<h2>Sujet</h2>

<p>{{exercise.content}}</p>

<h2>Solution</h2>

<p>{{exercise.solution}}</p>

{% include 'partials/footer.html.twig' %}