{% include 'partials/header.html.twig' %}

 <h1>{{ subject.name }}</h1>

<h2>Niveaux disponibles</h2>
<ul>
    {% for level in levels %}
        <li>
            <a href="{{ path('app_chapiter_list', { subject: subject.slug, level: level.slug }) }}">{{ level.name }}</a>            
        </li>
    {% endfor %}
</ul>

{% include 'partials/footer.html.twig' %}